In [7]:
x = 1
y = 2
sum = x + y
print(sum)

3

In [11]:
x = 'Ram'
x = "Ram"
x = """Ram"""
x = '''Ram'''
print(x)

Ram

In [15]:
x = [1,2,3,4]
print(type(x))

<class 'list'>

In [39]:
x = (1,2,3,4)
print(type(x))

<class 'tuple'>

In [43]:
x = {1,2,3,4}
print(type(x))

<class 'set'>

In [ ]:
person = {
    "name" : "ram",
    "age" : 21,
    "address" : "ktm"
}
print(person)
print(type(person))

{'name': 'ram', 'age': 21, 'address': 'ktm'}
<class 'dict'>

In [60]:
x = int(input("Enter first number"))
y = int(input("Enter second number"))
sum = x + y
print(sum)

Enter first number 5
Enter second number 6

11

In [66]:
5 >= 5

True

In [70]:
# small bracket
# and 
# or

In [78]:
x =2 
y =2
print(id(x))
print(id(y))
x is y

140735573670360
140735573670360

True

In [84]:
'rm' in 'ramesh'

False

In [90]:
s = "This is string."
s[-2]

'g'

In [102]:
s = "This is pyhton course."
s[0:4]
s[-7:]

'course.'

In [106]:
s = "This is pyhton course."
s[:4]

'This'

In [110]:
s = "This is pyhton course."
s[0:10:2]  #start:stop:step

'Ti sp'

In [126]:
s = "This is pyhton course."
s[-1::-1]

'.esruoc nothyp si sihT'

In [130]:
s = "Mohit"
print(s.upper())

MOHIT

In [134]:
# list
fruit = ['mango','banana','orange','kivi']
fruit[-1]

'kivi'

In [138]:
x = [1,[2,[3,4,5],6],7,8,9]
x[1][1][0]

3

In [142]:
fruit = ['mango','banana','orange','kivi']
fruit.append("grapes")
fruit

['mango', 'banana', 'orange', 'kivi', 'grapes']

In [148]:
fruit = ['mango','banana','orange','kivi']
fruit.pop()
fruit

['mango', 'banana', 'orange']

In [154]:
#tuple => immutable datastructure => cannot be changed
fruit = ('mango','banana','orange','kivi')
fruit

('mango', 'banana', 'orange', 'kivi')

In [166]:
# dictionary
person = {
    "id": 1,
    "name" : "Mohit",
    "age" : 21,
    "salary" : 200000,
    "contact" : 298400000
}
person["id"]
person["name"]

'Mohit'