In [5]:
#ddictionary datatype
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8, #last comma is optional
}
print(person, type(person))

{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8} <class 'dict'>

In [15]:
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8, #last comma is optional
}
person["name"] #accessing value
person['email']='chandmohit002@gmail.com' #adding key value pair to existing 
print(person)
del person['age']#removing an entry
print(person)
person.clear() #clear whole dictionary
print(person)

{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com'}
{'id': 1, 'name': 'Mohit', 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com'}
{}

In [17]:
x = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
}
y=x
y['email'] = 'chandmohit002@gmail.com' #adds new entry to both dictionaries
print(x)
print(y)

{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com'}
{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com'}

In [19]:
x = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
}
y=x.copy() #copy() is used
y['email'] = 'chandmohit002@gmail.com' #adds new entry to y  dictionary only
print(x)
print(y)

{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8}
{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com'}

In [26]:
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
    'address' : "mnr",
}
print(person.keys())

dict_keys(['id', 'name', 'age', 'conatct', 'salary', 'address'])

In [30]:
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
}
print(person.values())

dict_values([1, 'Mohit', 22, 9845098789, 678900.8])

In [32]:
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
}
print(person.items())

dict_items([('id', 1), ('name', 'Mohit'), ('age', 22), ('conatct', 9845098789), ('salary', 678900.8)])

In [36]:
person = {
    "id" : 1,
    "name" : "Mohit",
    "age" : 22,
    "conatct" : 9845098789,
    "salary" : 678900.8,
}
person.update({'email':'chandmohit002@gmail.com','college': 'snsc'})
print(person)

{'id': 1, 'name': 'Mohit', 'age': 22, 'conatct': 9845098789, 'salary': 678900.8, 'email': 'chandmohit002@gmail.com', 'college': 'snsc'}

In [42]:
#set datatype
s ={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [44]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
print(s)
#set is unordered collection

{1, 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}

In [48]:
s = {'ram',1,'hari',4.5,3,'shyam',1,3,'ram',(7,8,9)}
print(s)
#set is a unique unordered collection repetition dont printed twice or more

{1, 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}

In [50]:
# set cannot store mutable/unhashable datstructure
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9),[4,5,6]}   #cannot store list in set
print(s)

TypeError: unhashable type: 'list'

In [52]:
empty_string = ''  #str
empty_list = []    #list
empty_tuple  = ()  #tuple
empty_dict = {}    #dict
empty_set = set()  #set

In [56]:
tea = {'ram','hari','sita'}
coffee = {'shyam','sita','gita'}
tea_or_coffee = tea | coffee #union
tea_or_coffee = tea.union(coffee) #another way to union
print(tea_or_coffee)

{'gita', 'sita', 'hari', 'shyam', 'ram'}

In [58]:
tea = {'ram','hari','sita'}
coffee = {'shyam','sita','gita'}
tea_and_coffee = tea & coffee  #intersection
tea_and_coffee = tea.intersection(coffee)  #another way to intersection
print(tea_and_coffee)

{'sita'}

In [62]:
tea = {'ram','hari','sita'}
coffee = {'shyam','sita','gita'}
tea_only = tea - coffee #difference
tea_only = tea.difference(coffee)  #another way to difference
print(tea_only)

{'hari', 'ram'}

In [64]:
tea = {'ram','hari','sita'}
coffee = {'shyam','sita','gita'}
coffee_only = coffee - tea #difference
print(coffee_only)

{'shyam', 'gita'}

In [66]:
tea = {'ram','hari','sita'}
coffee = {'shyam','sita','gita'}
tea_only_or_coffee_only = tea.symmetric_difference(coffee)
print(tea_only_or_coffee_only)

{'hari', 'ram', 'shyam', 'gita'}

In [68]:
# set is a mutable datstructure => canbe changed once declared

In [72]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
s.add('33')  #new entry canbe added but order is not fixed
print(s)
s.clear()
print(s)

{1, '33', 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}
set()

In [74]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
s.add((1,2,3))
print(s)

{1, 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram', (1, 2, 3)}

In [78]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
s.update((1,2,3))
print(s)

{1, 2, 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}

In [86]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
s.remove(1)
print(s)

{3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}

In [90]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
s.discard(11)  #doesnot throw error eventhough there is no 11 in set 
print(s)

{1, 3, 4.5, (7, 8, 9), 'hari', 'shyam', 'ram'}

In [97]:
s = {'ram',1,'hari',4.5,3,'shyam',(7,8,9)}
print(s.pop())

1

In [99]:
x = [1,2,3,900,678]
max(x)

900

In [101]:
x = [1,2,3,900,678]
min(x)

1

In [103]:
x = [1,2,3,900,678]
sum(x)

1584

In [107]:
x = [1,2,3,900,678]
len(x)

5

In [109]:
x = [1,2,3,900,678]
sorted(x)  #ascending order

[1, 2, 3, 678, 900]

In [115]:
x = [1,2,3,900,678]
sorted(x,reverse = True)  #descending order

[900, 678, 3, 2, 1]

In [123]:
# flow control
# if ..... else.....
age = 17
if age > 18:  #indentation 4 spaces or 1 tab
    print("unauthorized")
    print("hello")

print("hi")

hi