In [3]:
#for loop

x = [1,2,3,4,5]

for i in x:
    print(i)

1
2
3
4
5

In [19]:
x = [1,2,3,4,5]
sum = 0
for i in x:
    sum += i

print(f"Sum is {sum}")

Sum is 15

In [21]:
x = [1,2,3,4,5]
multiplication = 1
for i in x:
    multiplication *= i

print(f"Multiplication is {multiplication}")

Multiplication is 120

In [13]:
x = [1,2,3,4,5]
square = []
for i in x:
    square.append(i ** 2)
print(square)

[1, 4, 9, 16, 25]

In [17]:
x = [1,2,3,4,5]
out = []
for i in x:
    if i%2 == 0:
        out.append('even')
    else:
        out.append('odd')

print(out)

['odd', 'even', 'odd', 'even', 'odd']

In [33]:
x = [11,12,24,1,2,3,1,6,2,7,1,11,19,3,8,9,10,11,12,24,1,2,3,8]
out = []
for i in x:
    if not(i in out):
        out.append(i)

print(out)

[11, 12, 24, 1, 2, 3, 6, 7, 19, 8, 9, 10]

In [39]:
name = 'rAmesh pradhan'
count = 0

for i in name.upper():
    if i in 'AEIOU':
        count += 1

print(count)

4

In [45]:
marks = {'Alan':99,'Bil':55,'Cory':77}
sum = 0
scores = marks.values()
print(scores)
for i in scores:
    sum += i

print(sum)

dict_values([99, 55, 77])
231

In [59]:
students = ['Alan','Bil','ramesh','corry','ram','shyam bahadur','gita']
output = {}
for i in students:
    output.update({i: len(i)})
print(output)

{'Alan': 4, 'Bil': 3, 'ramesh': 6, 'corry': 5, 'ram': 3, 'shyam bahadur': 13, 'gita': 4}

In [61]:
students = ['Alan','Bil','ramesh','corry','ram','shyam bahadur','gita']
output ={}
for i in students:
    output.update({i: students.index(i)})

print(output)

{'Alan': 0, 'Bil': 1, 'ramesh': 2, 'corry': 3, 'ram': 4, 'shyam bahadur': 5, 'gita': 6}

In [65]:
#another way
students = ['Alan','Bil','ramesh','corry','ram','shyam bahadur','gita']
output ={}
j= 0
for i in students:
    output.update({i: j})
    j += 1
print(output)

{'Alan': 0, 'Bil': 1, 'ramesh': 2, 'corry': 3, 'ram': 4, 'shyam bahadur': 5, 'gita': 6}

In [67]:
# range concept 
#syntax (start,stop,step)
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
#using range
students = ['Alan','Bil','ramesh','corry','ram','shyam bahadur','gita']
output = {}
for i in range(0,len(students)):
    output.update({students[i]: i})

print(output)

{'Alan': 0, 'Bil': 1, 'ramesh': 2, 'corry': 3, 'ram': 4, 'shyam bahadur': 5, 'gita': 6}

In [31]:
# practice quesition
# us_price = {'milk':2.03,'bread':2.6,'butter':2.6}
# output in quivalent nepali price

us_price = {'milk':2.03,'bread':2.6,'butter':2.6}  #price in us dollar
output = {}

for i in us_price:
    output.update({i:us_price[i]*132})

print(output)  #price in nepali rupees

{'milk': 267.96, 'bread': 343.2, 'butter': 343.2}

In [1]:
# another way to solve
us_price = {'milk':2.03,'bread':2.6,'butter':2.6}  #price in us dollar
output = {}

for k,v in us_price.items():
    output.update({k:v*132})

print(output)  #price in nepali rupees

{'milk': 267.96, 'bread': 343.2, 'butter': 343.2}

In [13]:
us_price = {'milk':2.03,'bread':2.6,'butter':2.6}  #price in us dollar
output = {}

for k,v in us_price.items():
    output.update({k:v*132*1.13})

print(output)  #price in nepali rupees

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 387.816}

In [21]:
us_price = {'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500,'television':340}
output = {}
for k,v in us_price.items():
    if v < 5:
        output.update({k:v*132*1.13})
    else:
        output.update({k:v*132*1.20})

print(output)

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 387.816, 'meat': 792.0, 'mobile': 79200.0, 'television': 53856.0}

In [33]:
# pass,continue,break
age = 17
if age < 18:
    pass   #pass syntax helps not getting error or bypass syntax
print('Hello')

Hello

In [37]:
numbers = [1,2,6,8,9,6,10]
sum = 0
for i in numbers:
    if i!= 6:
        sum += i

print(sum)

30

In [43]:
# pass satement example
numbers = [1,2,6,8,9,6,10]
sum = 0
for i in numbers:
    if i==6:
        pass
    else:
        sum += i

print(sum)

30

In [49]:
# continue satement example
numbers = [1,2,6,8,9,6,10]
sum = 0
for i in numbers:
    if i==6:
        continue  #skip the currently iterrated item
                  #doesnot run anything after that 
    sum += i
    
print(sum)

30

In [53]:
# break statement example
numbers = [1,2,6,8,9,6,10]
sum = 0
for i in numbers:
    if i== 6:
        break
        # terminate or exit from the current loop
    sum += i

print(sum)

3

In [55]:
names = ['ram','shyam','gita','sita']
foods = ['momo','chowmein','thukpa']

for i in names:
    for j in foods:
        print(f"{i} eats {j}")

ram eats momo
ram eats chowmein
ram eats thukpa
shyam eats momo
shyam eats chowmein
shyam eats thukpa
gita eats momo
gita eats chowmein
gita eats thukpa
sita eats momo
sita eats chowmein
sita eats thukpa